.auth-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
}

.auth-form {
  background: white;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.auth-form h2 {
  text-align: center;
}

.auth-form input,
.auth-form select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.auth-form p {
  font-size: 14px;
  text-align: center;
}
